<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
        <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/kspviswa/gothamizh">go-தமிழ் </a></strong>
			- Tamil transliteration tool in golang for fun & learning
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/kspviswa/lsgo">lsgo</a></strong>
			- ls command in golang for fun & learning
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://kspviswa.github.io/dpi-enabled-ovs/">DPI Enabled Open vSwitch</a></strong>
			- The aim of this project is to provide Deep Packet Inspection (DPI) functionalities to Open vSwitch (as a plugin), 
			so that any controller can take advantage of the DPI information and leverage the DPI functionalities to upper management layers.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://kspviswa.github.io/thinloggerMT/">thinLoggerMT</a></strong>
			- Slim buffer to enable instrumentation in run time. Suitable for multi-threading application.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://kspviswa.github.io/googCore/">googCore</a></strong>
			- Custom coredump generator using GoogleCoreDumper, by adding user specific notes in the core.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://kspviswa.github.io/File-as-heap/">File-As-Heap</a></strong>
			- File backed Heap object store, primarily targeted for Caching applications.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://kspviswa.github.io/aaaEngine/">aaaEngine</a></strong>
			- CPP Implementation of AAA Engine that glues RADIUS & TACACS+ client together.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://kspviswa.github.io/pyNMS4SDN/">pyNMS4SDN</a></strong>
			- Python based Network Management System for SDN Environment
		</h5>
		
    </div>
  </div>
</div>
</section>
